.cartDivWrapper {
  overflow: hidden;
  width: 35rem;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  transition: height 0.5s linear;
}

.cartDiv {
  background-color: white;
}
.cartOpen {
  height: 35rem;
}
.cartClose {
  height: 2.8rem;
}

.header {
  color: white;
  background-color: #00cf00;
  font-size: 2.1rem;
}

.itemsDiv {
  height: 32rem;
  overflow: scroll;
}
.item {
  color: black;
  font-size: 1.4rem;
  height: 4rem;
  /* padding: 1rem 2rem; */
}
.tableHeading {
  position: sticky;
  top: 0;
  background-color: white;
}
.item th,
.item td {
  padding: 1rem;
}
.item img {
  width: 4rem;
}

.cross {
  background-color: red;
  color: white;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  border-radius: 2rem;
}

.price {
  color: red;
}
