.cartDivWrapper {
  overflow: hidden;
  width: 35rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.cartDiv {
  background-color: white;
  transition: transform 0.5s linear;
}
.cartOpen {
  transform: translateY(0%);
}
.cartClose {
  transform: translateY(92%);
}

.header {
  color: white;
  background-color: #00cf00;
  font-size: 2.1rem;
}

.itemsDiv {
  height: 32rem;
}
.item {
  color: black;
  font-size: 1.4rem;
  height: 4rem;
  /* padding: 1rem 2rem; */
}
.item th,
.item td {
  padding: 1rem;
}
.item img {
  width: 4rem;
}

.cross {
  background-color: red;
  color: white;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  border-radius: 2rem;
}

.price {
  color: red;
}
